@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
    --font-color: #9194ba;
}
body{
    font-family: Poppins;
    background-color: var(--secondary-color);
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 50px;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 99;
}
header h3{
    font-size: 24px;
    color: var(--font-color);
}
header span{
    color: red;
}
form{
    padding: 6px 15px;
    border-radius: 20px;
    border: 2px solid var(--font-color);
    color: var(--font-color);
}
input{
    font-size: 16px;
    background: transparent;
    border: none;
    color: white;
}
#submit{
    cursor: pointer;
    font-weight: 600;
}
input:focus{
    outline: none;
    /* border-color: red; */
}
input::placeholder{
    color: var(--font-color);
}

.movie{
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movie-card{
    max-width: 300px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 10px;
}
.movie-card img{
    width: 100%;
}
.movie-info{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px;
    margin-top: -10px;
    border-radius: 10px;
}

.movie-info h2{
    font-size: 20px;
}
.movie-info p{
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
}
.overview{
    padding:20px 10px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: 0.3s ease;
}
.movie-card:hover .overview{
    transform: translateY(0);
}
.overview h3{
    margin-bottom: 20px;
}
.overview p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

/* media */
@media(max-width:520px){
    header{
        justify-content: center;
    }
}
@media (max-width:716px){
    .movie{
        justify-content: center;
    }
}